@model string

@if (ViewData["Title"] == "Contact")
{
    <a href="https://docs.google.com/@Model">Resume</a>
}
else if (ViewData["Title"] == "Projects")
{
    <a href="http://www.github.com/@Model">Github profile</a>
}