@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron jumbotron-fluid jumbotron-container resume-jumbotron text-white">
    <div class="container-fluid jumbotron-content">
        <p class="text-center jumbotron-header mb-4">I look forward to hearing from you!</p>
    </div>
</div>

<div class="container">
    <div class="resume-content">
        <h4 class="general-header mb-3">Contact</h4>
        <p class="general-content">
            For more information regarding my experience, please refer to my<partial name="_Links" for="ResumeEnding"/>.
        </p>
    </div>
</div>